@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html[data-theme="rose"] {
        --color-primary: #FFD1E3;
        --color-secondary: #392467;
        --color-tertiary: #A367B1;
    }

    html[data-theme="coffee"] {
        --color-primary: #FFE7E7;
        --color-secondary: #944E63;
        --color-tertiary: #CAA6A6;
    }

    html[data-theme="blueberry"] {
        --color-primary: #C2D9FF;
        --color-secondary: #190482;
        --color-tertiary: #8E8FFA;
    }

    html[data-theme="nature"] {
        --color-primary: #DBE7C9;
        --color-secondary: #294B29;
        --color-tertiary: #789461;
    }

    html[data-theme="iron"] {
        --color-primary: #DDE6ED;
        --color-secondary: #27374D;
        --color-tertiary: #9DB2BF;
    }

    html[data-theme="gold"] {
        --color-primary: #FFF7D4;
        --color-secondary: #4C3D3D;
        --color-tertiary: #C07F00;
    }

    body{
        @apply bg-primary;
    }
}

@layer utilities {
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
  
    ::-webkit-scrollbar-track {
        border-radius: 100vh;
        /* background: none; */
    }
  
    ::-webkit-scrollbar-thumb {
        border-radius: 100vh;
    }

    ::-webkit-scrollbar-thumb{
        @apply bg-secondary;
    }

    ::-webkit-scrollbar-track{
        @apply bg-tertiary;
    }
}